.container {
  width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-bottom: 3em;
  /* height: 100vh; */
}

.testimonial {
  padding: 2rem;
     
}

.testimonial__heading {
  text-align: center;
  font-size: 3rem;
  color: #d7e1ec;
}

.testimonial__row__1 {
  display: grid;
  grid-template-columns: auto auto auto;
 
  grid-template-rows: masonry;
}

.testimonial__row__2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testimonial__article {
  padding: 1.25rem;
  border: 1px solid transparent;
  margin-bottom: 20px;
  border-radius: 1.25rem;
  height: 280px;
  background-image: linear-gradient(
      -12deg,
      #898888 0%,
      #535353 5%,
      #5a5858 5%,
      #3a3e41 15%,
      #2a2d30 15%,
      #242628 60%
    ),
    linear-gradient(160deg, #434b54 1%, #2a2c2f 45%, #191b1e 75%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  transition: 1s ease-in-out;
  /* box-shadow: rgba(169, 169, 171, 0.15) 0px 2px 5px 0px, rgba(210, 205, 205, 0.05) 0px 1px 1px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
}
.testimonial__article:hover{
  transform: scale(0.9);
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  box-shadow: rgba(77, 76, 76, 0.372) 0px 22px 70px 4px;
  color: #080808;

  background-image: linear-gradient(
      169deg,
      #757474 75%,
      #535353 15%,
      #4b4a4a 15%,
      #3a3e41 5%,
      #2a2d30 5%,
      #242628 5%
    ),
    linear-gradient(30deg, #434b54 , #2a2c2f , #191b1e );
    
}
.testimonial__img {
  padding-left: 2rem;
  padding-right: 2rem;
}
.developer__img{
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: 50%;
  width: 4.75rem;
  height: 3.25rem;
  background: linear-gradient(-32deg, #1a1d21 3%, #393d42 44% 56%, #1a1d21 97%)
    0% 0%/200% 200%;
  box-shadow: 4px 4px 18px rgb(0 0 0 / 40%),
    -4px -2px 16px rgb(195 200 205 / 8%);
  margin: 5%;
  object-fit: cover;
}
.contributor__img{
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: 50%;
  width: 4.75rem;
  height: 4.5rem;
  background: linear-gradient(-32deg, #1a1d21 3%, #393d42 44% 56%, #1a1d21 97%)
    0% 0%/200% 200%;
  box-shadow: 4px 4px 18px rgb(0 0 0 / 40%),
    -4px -2px 16px rgb(195 200 205 / 8%);
  margin: 5%;
  object-fit: cover;
}

.testimonial__content > h5 {
  color: #d7e1ec;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0;
}

.testimonial__content  p {
  color: #a0a1ac;
}

.testimonial__content span {
  color: #d7e1ec;
}

@media (min-width: 1300px) {
  .testimonial{
    padding: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .testimonial__row__1 {
    display: block;
  }
  .testimonial{
    padding: 1em;
  }
  /* .testimonial__row__2 {
    display: block;
  } */
  .testimonial__content > p {
    width: 105%;
    margin-top: 5px;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .testimonial__heading {
    font-size: 2rem;
  }
}
