.footer{

    display: flex;
    justify-content: center;
    padding: 10vh 0;
}
.container{
    width: 80vw;
    max-width: 1200px;
}
.contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.margin_box{
    margin-bottom: 18px;
}
.footer_list_head{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
    color: rgba(255,255,255,.9);
}
.u_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_list{
    line-height: 32px;
    font-size: 15px;
    color: rgba(255,255,255,.8);
}
.link_item{
    color: inherit;
    text-decoration: inherit;
    transition: 0.3s ease-in;
}
.link_item:hover{
    color: #ce623a;
}
.copyright_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.copyright_section > *  {
    margin-right: 8px;
}
.copyright_section > *:last-child {
    margin-right: 0;
  }
.copyright_link{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.icons{
    margin-right: 5px;
}
.neon {
    font-family: neon;
    color: #6ae7cc;
    font-size: 2vw;
    line-height: 2vw;
    text-shadow: 0 0 1vw #4ce2ec;
    width: 240px;
    margin-bottom: 48px;

    cursor: pointer;
  }
  
  .neon {
    animation: neon 5s ease infinite;
    -moz-animation: neon 5s ease infinite;
    -webkit-animation: neon 5s ease infinite;
  }